/* Custom Base Styles Go Here. */
@font-face {
  font-family: 'Riemann';
  src: url('/assets/fonts/riemann.ttf') format('truetype');
}

.marker{
    font-family: 'Permanent Marker', cursive;
}

.riemann {
  font-family: 'Riemann', sans-serif;
}