{# This page is built with nunjucks! #}

{% set title = 'savemiami' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="">
    <div class="flex items-center justify-center min-h-screen flex-col" x-data="{count:0, message:'Click here to save miami'}">
        <img @click="count++;message=$store.messages[count]" src="/assets/savemiami.png" alt="Save Miami" class="cursor-pointer z-50 max-w-full max-h-full object-contain sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
        <p x-transition:enter.duration.500ms
    x-transition:leave.duration.400ms  class="text-white btn btn-ghost btn-lg z-50" @click="count++;message=$store.messages[count]" x-text="message"></p>
    </div>
  </main>
{% endblock %}
